.listsContainer {
  margin-top: 32px;
  display: flex;
  flex-direction: column;

  grid-row-gap: 24px;
}

.searcResults {
  display: flex;
  align-items: center;
  grid-gap: 16px;

  flex-wrap: wrap;
}
